*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 10px 2rem;

}

ul{
    display: flex;
    gap: 1rem;
}

ul li{
    color: white;
    list-style: none;
}

/* h1{
    color:gray
} */

#mytable{
    padding: 20px 350px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    color: white;
}

.sign{
    color: yellow;
}

.rules{
    color: white;
    text-align: center;
}

.note{
    background-color: black;
    padding: 12px;
}
   
main h1{
    text-align: center;
    /* color: blue;\ */
}
table{
    
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 80%; */
}
td,th{
   border: 2px solid white;
   text-align: center;
   padding: 6px; 
}

.box{
    display: flex;
    place-content: center;
    gap: 1rem;
}



.one{
    background-color: green;
    /* height: 300px;
    width: 300px; */
}

.two{
    background-color: aqua;
    /* height: 300px;
    width: 300px; */
}

.three{
    background-color: aquamarine;
    /* height: 300px;
    width: 300px; */
}